#vitamin-a .list-group {
  display: flex;
  justify-content: space-between;
}

#vitamin-a .list-group-item {
  width: 48%; /* Sesuaikan lebar sesuai kebutuhan */
  margin-bottom: 30px;
}

#vitamin-a .list-group-item {
  width: 50%;
  box-sizing: border-box;
  margin-left: 120px;
}

#vitamin-a .img-thumbnail {
  width: 100%;
  height: auto;
}
#vitamin-b .list-group {
  display: flex;
  justify-content: space-between;
}

#vitamin-b .list-group-item {
  width: 48%; /* Sesuaikan lebar sesuai kebutuhan */
  margin-bottom: 30px;
}

#vitamin-b .list-group-item {
  width: 50%;
  box-sizing: border-box;
  margin-left: 120px;
}

#vitamin-b .img-thumbnail {
  width: 100%;
  height: auto;
}
#vitamin-c .list-group {
  display: flex;
  justify-content: space-between;
}

#vitamin-c .list-group-item {
  width: 48%; /* Sesuaikan lebar sesuai kebutuhan */
  margin-bottom: 30px;
}

#vitamin-c .list-group-item {
  width: 50%;
  box-sizing: border-box;
  margin-left: 120px;
}

#vitamin-c .img-thumbnail {
  width: 100%;
  height: auto;
}
#vitamin-d .list-group {
  display: flex;
  justify-content: space-between;
}

#vitamin-d .list-group-item {
  width: 48%; /* Sesuaikan lebar sesuai kebutuhan */
  margin-bottom: 30px;
}

#vitamin-d .list-group-item {
  width: 50%;
  box-sizing: border-box;
  margin-left: 120px;
}

#vitamin-d .img-thumbnail {
  width: 100%;
  height: auto;
}
#vitamin-e .list-group {
  display: flex;
  justify-content: space-between;
}

#vitamin-e .list-group-item {
  width: 48%; /* Sesuaikan lebar sesuai kebutuhan */
  margin-bottom: 30px;
}

#vitamin-e .list-group-item {
  width: 50%;
  box-sizing: border-box;
  margin-left: 120px;
}

#vitamin-e .img-thumbnail {
  width: 100%;
  height: auto;
}
.list-group-item:hover {
  transform: scale(1.1);
}
