  /Footer/
  
  /* card */
  .card-img-top{
    margin-bottom: 0px;
  }
  .card-body{
    margin-bottom: 5px;
  }
  .card-body{
    margin-top: auto;
    align-items: flex-start;
  }
  .card:hover{
    transform: scale(1.1) ; 
  }

  .navbar-nav{
    color: white;
  }
  .navbar-nav:hover{
    transform: scale(1.05);  
  }

  .display1{
    color:white;
    font-weight: 400;
    background-color: #C2524D;
    border-radius: 7px;
    padding: 7px;

  }
  .carousel{
    width: 900px;
  }