  /Footer/

  /* card */
  .card-img-top{
    margin-bottom: 0px;
  }
  .card-body{
    margin-bottom: 5px;
  }
  .card-body{
    margin-top: auto;
    align-items: flex-start;
  }
  .card:hover{
    transform: scale(1.03) ; 
    transition: 0.5s;
  }


