body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #3dbbb3 -0%, rgba(170, 220, 191, 0.5416666269) 45.83%, rgba(148, 211, 174, 0.4166666567) 58.33%, rgba(115, 202, 155, 0.25) 75%, rgba(17, 149, 38, 0.0989583433) 90.1%, rgba(85, 165, 154, 0.0208333321) 97.92%, rgba(18, 120, 9, 0.0205030721) 99.97%, rgba(136, 255, 238, 0.0195249747) 99.98%, rgba(84, 164, 153, 0.0156250149) 99.99%, rgba(86, 216, 64, 0) 100%);
}

.hometeks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 50px 30px; /* Adjust the padding as needed */
}

.SI {
  flex: 1;
}

.SI h1,
.SI h2 {
  margin-top: 0;
}

.jedagjedug{
  border-radius: 50%;
}

.jedagjedug:hover{
  transform: scale(1.1);
  transition: 0.5s;
  border-radius: 10%;
}

.gambar {
  max-width: 100%;
  height: auto;
}

.hometeks h1{
  font-size: 5rem;
  font-weight: 700;
  color: blueviolet;
}


.hometeks h2{
  font-size: 4rem;
  font-weight: 730;
  color: rgb(255, 227, 67);
}

.SI p{
 margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .hometeks {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .SI {
    padding-left: 0;  
    padding-bottom: 10px;
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .sambo img {
    width: 80%;
  }
}

.gambar{
  border-radius: 50%;
}
